img{
    height: 100px;
    width: 100px;
}
.align{
    align-items: center;
}
#tab {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
.main{
    margin: 10px;
}

 